.searchContainer {
  width: 200;
  position: relative;
}

/* .searchListCont {
  position: absolute;
  z-index: 1;
  background-color: white;
} */
.searchList {
  background-color: white;
}

.flexForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
button {
  text-transform: capitalize;
}
